In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
import pandas as pd

In [3]:
data = {
    'id': [1, 2, 2, 3, 4, 4, 5],
    'topic': ['A', 'B', 'B', 'C', 'D', 'D', 'E'],
    'sentiment': ['positive', 'negative', 'negative', 'neutral', 'positive', 'positive', 'neutral'],
    'tweet': [
        'Great day!',
        'Bad weather',
        'Bad weather',
        'Not sure about this',
        'Feeling good',
        'Feeling good',
        'Mixed feelings'
    ]
}

In [4]:
df=pd.DataFrame(data)

In [8]:
df.drop_duplicates()#dropping duplicates

   id topic sentiment                tweet
0   1     A  positive           Great day!
1   2     B  negative          Bad weather
3   3     C   neutral  Not sure about this
4   4     D  positive         Feeling good
6   5     E   neutral       Mixed feelings

In [6]:
df.columns  #dropping columns which are irrevalent

Index(['id', 'topic', 'sentiment', 'tweet'], dtype='object')

In [7]:
df.drop(columns=['id'])

  topic sentiment                tweet
0     A  positive           Great day!
1     B  negative          Bad weather
2     B  negative          Bad weather
3     C   neutral  Not sure about this
4     D  positive         Feeling good
5     D  positive         Feeling good
6     E   neutral       Mixed feelings

In [9]:
import pandas as pd

# Sample data
data = {
    'id': [1, 2, 3, 4, 5],
    'topic': ['python programming', 'data SCIENCE', 'Machine LEARNING', 'deep learning', 'Artificial INTELLIGENCE'],
    'sentiment': ['positive', 'negative', 'neutral', 'positive', 'negative'],
    'tweet': [
        'learning python is fun!',
        'DATA science is fascinating.',
        'Machine learning is the future.',
        'deep learning is a subset of machine learning.',
        'Artificial intelligence will change the world.'
    ]
}

# Create DataFrame
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

# Apply standard capitalization to the 'topic' and 'tweet' columns
df['topic'] = df['topic'].str.title()
df['tweet'] = df['tweet'].str.title()

print("\nDataFrame after applying standard capitalization:")
print(df)

Original DataFrame:
   id                    topic sentiment  \
0   1       python programming  positive
1   2             data SCIENCE  negative
2   3         Machine LEARNING   neutral
3   4            deep learning  positive
4   5  Artificial INTELLIGENCE  negative

                                            tweet
0                         learning python is fun!
1                    DATA science is fascinating.
2                 Machine learning is the future.
3  deep learning is a subset of machine learning.
4  Artificial intelligence will change the world.

DataFrame after applying standard capitalization:
   id                    topic sentiment  \
0   1       Python Programming  positive
1   2             Data Science  negative
2   3         Machine Learning   neutral
3   4            Deep Learning  positive
4   5  Artificial Intelligence  negative

                                            tweet
0                         Learning Python Is Fun!
1                    Data Science Is Fascinating.
2                 Machine Learning Is The Future.
3  Deep Learning Is A Subset Of Machine Learning.
4  Artificial Intelligence Will Change The World.

In [ ]:
df['topic'] = df['topic'].str.title()  #standard capitalization in string

In [10]:
import pandas as pd

# Sample data with mixed datatypes
data = {
    'id': [1, 2, 3, 4, 5],
    'age': ['25', '30', '35', '40', '45'],
    'income': ['50000.0', '60000.0', '70000.0', '80000.0', '90000.0'],
    'has_children': ['True', 'False', 'True', 'False', 'True']
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)
print(df.dtypes)

Original DataFrame:
   id age   income has_children
0   1  25  50000.0         True
1   2  30  60000.0        False
2   3  35  70000.0         True
3   4  40  80000.0        False
4   5  45  90000.0         True
id               int64
age             object
income          object
has_children    object
dtype: object

In [11]:
# Convert 'age' from str to int
df['age'] = df['age'].astype(int)

# Convert 'income' from str to float
df['income'] = df['income'].astype(float)

# Convert 'has_children' from str to bool
df['has_children'] = df['has_children'].astype(bool)

print("\nDataFrame after converting datatypes:")
print(df)
print(df.dtypes)

DataFrame after converting datatypes:
   id  age   income  has_children
0   1   25  50000.0          True
1   2   30  60000.0          True
2   3   35  70000.0          True
3   4   40  80000.0          True
4   5   45  90000.0          True
id                int64
age               int64
income          float64
has_children       bool
dtype: object

In [12]:
import pandas as pd
from textblob import TextBlob

# Sample data with spelling mistakes
data = {
    'id': [1, 2, 3, 4, 5],
    'topic': ['pythn programming', 'data SCIECNCE', 'Machine LEARING', 'deep learnig', 'Artifical INTELLIGENCE'],
    'tweet': [
        'learnig python is fun!',
        'DATA sciece is fascinating.',
        'Machine learnig is the future.',
        'deep learnig is a subset of machine learning.',
        'Artifical intelligence wil change the world.'
    ]
}

# Create DataFrame
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

# Function to correct spelling
def correct_spelling(text):
    return str(TextBlob(text).correct())

# Apply spelling correction to the 'topic' and 'tweet' columns
df['topic'] = df['topic'].apply(correct_spelling)
df['tweet'] = df['tweet'].apply(correct_spelling)

print("\nDataFrame after correcting spelling:")
print(df)

Original DataFrame:
   id                   topic                                          tweet
0   1       pythn programming                         learnig python is fun!
1   2           data SCIECNCE                    DATA sciece is fascinating.
2   3         Machine LEARING                 Machine learnig is the future.
3   4            deep learnig  deep learnig is a subset of machine learning.
4   5  Artifical INTELLIGENCE   Artifical intelligence wil change the world.

DataFrame after correcting spelling:
   id                    topic                                           tweet
0   1         path programming                         learning patron is fun!
1   2            data SCIECNCE                    DATA science is fascinating.
2   3          Machine LEARING                 Machine learning is the future.
3   4            deep learning  deep learning is a sunset of machine learning.
4   5  Artificial INTELLIGENCE  Artificial intelligence will change the world.

In [13]:
import pandas as pd
import numpy as np

# Sample data with missing values
data = {
    'id': [1, 2, 3, 4, 5],
    'age': [25, np.nan, 35, 40, np.nan],
    'income': [50000, 60000, np.nan, 80000, 90000],
    'has_children': [True, False, np.nan, False, True]
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

# Drop rows with any missing values
df_dropna_rows = df.dropna()

# Drop columns with any missing values
df_dropna_cols = df.dropna(axis=1)

print("\nDataFrame after dropping rows with missing values:")
print(df_dropna_rows)

print("\nDataFrame after dropping columns with missing values:")
print(df_dropna_cols)

# Fill missing values with a specific value (e.g., 0)
df_fillna_zero = df.fillna(0)

# Fill missing values with the mean of the column
df_fillna_mean = df.fillna(df.mean(numeric_only=True))

# Forward fill (propagate last valid observation forward)
df_ffill = df.fillna(method='ffill')

# Backward fill (propagate next valid observation backward)
df_bfill = df.fillna(method='bfill')

print("\nDataFrame after filling missing values with 0:")
print(df_fillna_zero)

print("\nDataFrame after filling missing values with the mean of the column:")
print(df_fillna_mean)

print("\nDataFrame after forward fill:")
print(df_ffill)

print("\nDataFrame after backward fill:")
print(df_bfill)

Original DataFrame:
   id   age   income has_children
0   1  25.0  50000.0         True
1   2   NaN  60000.0        False
2   3  35.0      NaN          NaN
3   4  40.0  80000.0        False
4   5   NaN  90000.0         True

DataFrame after dropping rows with missing values:
   id   age   income has_children
0   1  25.0  50000.0         True
3   4  40.0  80000.0        False

DataFrame after dropping columns with missing values:
   id
0   1
1   2
2   3
3   4
4   5

DataFrame after filling missing values with 0:
   id   age   income has_children
0   1  25.0  50000.0         True
1   2   0.0  60000.0        False
2   3  35.0      0.0            0
3   4  40.0  80000.0        False
4   5   0.0  90000.0         True

DataFrame after filling missing values with the mean of the column:
   id        age   income has_children
0   1  25.000000  50000.0         True
1   2  33.333333  60000.0        False
2   3  35.000000  70000.0          NaN
3   4  40.000000  80000.0        False
4   5  33.333333  90000.0         True

DataFrame after forward fill:
   id   age   income  has_children
0   1  25.0  50000.0          True
1   2  25.0  60000.0         False
2   3  35.0  60000.0         False
3   4  40.0  80000.0         False
4   5  40.0  90000.0          True

DataFrame after backward fill:
   id   age   income  has_children
0   1  25.0  50000.0          True
1   2  35.0  60000.0         False
2   3  35.0  80000.0         False
3   4  40.0  80000.0         False
4   5   NaN  90000.0          True

/tmp/ipykernel_33/1351033827.py:36: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_ffill = df.fillna(method='ffill')
/tmp/ipykernel_33/1351033827.py:36: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_ffill = df.fillna(method='ffill')
/tmp/ipykernel_33/1351033827.py:39: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_bfill = df.fillna(method='bfill')
/tmp/ipykernel_33/1351033827.py:39: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_bfill = df.fillna(method='bfill')